@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lobster', cursive;
}

body {
  /* height: 100vh; */
  background-image: url("../Assets/Background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.sticky-top {
  background-image: url("../Assets/Background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}


.Catalog {
  gap: 1.5em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.card-content {
  width: 16em;
  height: 25em !important;
}